<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  
  <body>
    
    <div class="container">
      <header>
        <%= render 'layouts/header' %>
      </header>
      
      <%= render 'layouts/mainnav' %>
      
      <section class="round">
      	
      	<!--a message that appears temporarily and then disappears upon page reload-->
      	<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <!-- -->
        
        <%= yield %>
        
      </section>
      
      
      <!-- Here's some debug stuff that will show on the application, not the if statement, only for development env. -->
      <%= debug(params) if Rails.env.development? %>
      
      
      
      <%= render 'layouts/footer' %>
       
    </div>
  </body>
</html>